.consoleContainer {
    width: 90%;
    height: 100px;
    min-height: 200px;
    min-width: 400px;
    overflow: scroll;
    overflow-x: scroll;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    resize: both;
}

.consoleContainer .warn {
    background-color: #ffff00;
}

.consoleContainer .error {
    background-color: #ff0000;
}

.consoleContainer .success {
    background-color: #00ff00;
}
